#!/bin/bash

set -e
set -u
set -o pipefail
set -x

[ -f "{{ config_env_file }}" ] && . "{{ config_env_file }}"

priv_addr="${PRIVATE_NETWORK_ADDR:-{{ private_interface_ip }}}"

find_nic --wait

# HACK: Give a little bit of time to QEmu to bring up the interface
sleep 1

cd /sys/class/net/
for nic in *; do
    ip link set $nic up
done

PRIVATE=`find_nic -r private`
PUBLIC=`find_nic -r public`

echo 1 > /proc/sys/net/ipv4/ip_forward

# Tag the "public" interface with the name public
# This option was prefered over renaming the interface to avoid
# cutting briefly the internet connection and
# making problems with other services such as backup
ip link property add dev $PUBLIC altname public

# Rename private interface
ip link set $PRIVATE down
ip link set $PRIVATE name privateif

# create bridge for vpdu VMs
ip link add private type bridge
ip addr add dev private "${priv_addr}"/24
ip link set privateif master private

ip link set privateif up
ip link set private up

# name sure the hostname can resolve on the gateway
printf "127.0.0.1\t{{ hostname }}\n" >> /etc/hosts

# notify systemd that script is done
systemd-notify --ready
