---
session_name: dashboard
windows:
- window_name: dashboard
  layout: main-vertical
  panes:
    # Quote all the service names to avoid any potential shell extension of wildcard characters
    - /usr/local/lib/dashboard/dashboard.py  --services '{{ dashboard_monitor_services|join("' '") }}'
